---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Article from "~/components/Article.astro";
import Parallax from "~/components/Parallax.astro";

// Images
import Terrasse from "~/assets/images/decor/terrasse_resize.jpg";
import Terrasse2 from "~/assets/images/decor/terrasse2.jpg";
import Burrata from "~/assets/images/plat/burrata_citron_resize.jpg";
import Pizza from "~/assets/images/plat/pizza.jpg";
import PhotoResto2 from "~/assets/images/restaurant_photo_2.jpg";
import Cosmopolitan from "~/assets/images/boisson/cosmopolitan_on_point_resize.jpg";
import WideImageText from "~/components/WideImageText.astro";


---

<Layout>
	<Section class:list={"bg-white"} contain={false}>

		<WideImageText image={PhotoResto2} title="La Carlina" text="Notre Restaurant" alt="Just an image" class:list={"aspect-video lg:aspect-[16/6]"} />
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1 ml-10 ">
				
				<p class="text-sm ">
					La Villa César est un restaurant de spécialité italienne qui est situé aux Mureaux dans les Yvelines (78).
				</p>

				<p class="text-sm mt-10">
					N’attendez plus pour réserver votre table chez nous et pour découvrir notre carte variée.
					Pizza au feu de bois sur place ou à emporter ouvert 7j/7.
				</p>

				<p class="text-sm mt-10">
					Nous sommes à votre disposition pour répondre à vos questions concernant nos événements et nos formules d’organisation de réceptions.
				</p>


			</div>
			<div slot="hero-content-right">

				<div class="grid grid-cols-1 md:grid-cols-2 gap-8 m-10">
					<!-- Image en haut à gauche -->
					<div class="relative">
					  <Image 
						src={Burrata}
						alt="Image 1" 
						class="w-full h-auto object-cover " 
						width={500} 
						height={300} 
					  />
					</div>
				  
					<!-- Image en haut à droite -->
					<div class="relative">
					  <Image 
						src={Terrasse}
						alt="Image 2" 
						class="w-full h-auto object-cover " 
						width={500} 
						height={300} 
					  />
					</div>
				  
					<!-- Image en bas à gauche -->
					<div class="relative">
					  <Image 
						src={Cosmopolitan}
						alt="Image 3" 
						class="w-full h-auto object-cover " 
						width={500} 
						height={300} 
					  />
					</div>
				  
					<!-- Image en bas à droite -->
					<div class="relative">
					  <Image 
						src={Pizza} 
						alt="Image 4" 
						class="w-full h-auto object-cover " 
						width={500} 
						height={300} 
					  />
					</div>
				  </div>

				
			</div>
		</Hero>
	</Section>

	<Parallax image={Terrasse2}  alt="Belle image en parallax" 
	title="Bienvenue" 
	text="Profitez de l'effet parallax"/>

	<Section class:list={'bg-white'}>
		<Article>
			<h2 class="text-brand-green">Bienvenue chez Carlina Meulan</h2>
			<p>
				Situé au cœur de Meulan, <strong>Carlina Meulan</strong> vous propose une véritable expérience culinaire italienne comme nulle part ailleurs. Dès que vous franchissez nos portes, vous êtes transporté dans les rues animées de l'Italie, où de délicieuses pizzas et des pâtes maison vous attendent dans une ambiance chaleureuse et conviviale.
			</p>

			<h3 class="text-brand-green">Notre Histoire</h3>
			<p>
				Founded in <em>1998</em>, our family-owned restaurant has always been a labor of love. Inspired by the
				recipes passed down through generations, we bring the <u>rich culinary heritage</u> of Italy to your plate.
				Every dish tells a story, and every meal is a celebration of flavor.
			</p>

			<h3 class="text-brand-green">Notre Philosophie</h3>
			<blockquote>"L'ingrédient secret, c'est toujours l'amour."</blockquote>
			<p>
				Chez Carlina Meulan, nous croyons à la joie de cuisiner avec des ingrédients frais et de qualité. Nos recettes sont élaborées avec passion et soin, qu'il s'agisse de nos pizzas cuites au feu de bois, de nos sauces savoureuses ou de nos pâtes faites maison. Chaque bouchée est un véritable voyage en Italie, préparée avec amour.
			</p>

			<h4 class="text-brand-green">Ce qui fait notre Spécialité ?</h4>
			<ul>
				<li><strong>Authenticité:</strong> Des recettes italiennes traditionnelles, préparées comme le faisait Nonna.</li>
				<li><strong>Ingrédients frais:</strong> Des produits locaux de qualité et des spécialités italiennes importées.</li>
				<li><strong>Ambiance chaleureuse:</strong> Un lieu où tout le monde se sent chez soi, que ce soit pour un dîner décontracté ou pour une occasion spéciale.</li>
			</ul>
		</Article>
	</Section>
</Layout>
