---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import TripadvisorSection from "~/components/TripadvisorSection.astro";
import Heading from "~/components/Heading.astro";
import WideImageParallax from "~/components/WideImageParallax.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";
import Map from "~/components/Map.astro";
import GridCard from "~/components/GridCard.astro";

// Images
import PizzaHero from "~/assets/images/plat/pizza2.png";
import PhotoResto from "~/assets/images/restaurant_photo.jpg";
import Carte2 from "~/assets/images/carte_resto_2.jpg";
import Decor_Noel from "~/assets/images/decor/noel_2.jpg";
import Madame from "~/assets/images/decor/souriante_madame.jpg";
import Terrasse from "~/assets/images/decor/terrasse.jpg";
import Terrasse2 from "~/assets/images/decor/terrasse2.jpg";
import CartePaysage from "~/assets/images/carte_resto_paysage.jpg";
import Dessert from "~/assets/images/dessert/cream-dessert.png";
import Mussels from "~/assets/images/decor/noel_1.jpg";
import GalleryCard from "~/components/GalleryCard.astro";


---

<Layout title="Accueil" pageTitle="Accueil" description="Bienvenue Dans Notre Restaurant !">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Ristorante italiana" />
				<h2 class="font-black sm:mt-4 md:mt-4">De la vraie cuisine italienne dans un vrai restaurant italien...</h1>

				<p>
					Découvrez le goût de l'Italie avec nos plats authentiques préparés à partir des meilleurs ingrédients. Offrez-vous
					notre grande variété de pizzas, pâtes et desserts, tous préparés avec amour et tradition. Que vous dîniez sur place ou à emporter, nous vous promettons une expérience culinaire mémorable.
				</p>

				<span class="text-brand-green font-medium">✔ Nous livrons aussi ...</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/book">Réservez Maintenant</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImageParallax image={PhotoResto} alt="Just an image" class="aspect-video lg:aspect-[16/6]" />

	
  

	<Section class:list={"bg-white mt-20 mb-20"} contain={false}>
		<GridCard />

	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<GalleryCard image1={Madame} image2={Terrasse} image3={CartePaysage} image4={Carte2} image5={Terrasse2} image6={Decor_Noel}  alt="Image Gallery"/>

			</div>

			<div slot="hero-content-right">

				<div class="w-full  text-center">
					<h2 class="text-5xl font-script text-brand-green mb-2">Consultez</h2>
					<h3 class="text-3xl tracking-widest text-gray-700 mb-8">NOTRE CARTE</h3>
					
					<div class="text-center mb-8">
					  <span class="inline-block h-px w-8 bg-gray-300"></span>
					  <span class="inline-block mx-2">*</span>
					  <span class="inline-block h-px w-8 bg-gray-300"></span>
					</div>
					
					<p class="text-gray-600 mb-6">
					  La Carlina vous propose de nombreuses formules pour tous les budgets.
					</p>
					
					<p class="text-gray-600 mb-10">
					  Consultez notre carte : Pizzas au feu de bois – Sur place et à emporter
					</p>
					
					<a href="/menu" class="inline-block border border-brand-green text-brand-green px-6 py-2 hover:bg-brand-green hover:text-white transition duration-300">
					  CONSULTEZ LA CARTE
					</a>
				  </div>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="Delicieux" />
				<h2 class="font-black h2 my-4">Le Plat De La Semaine</h2>

				<span class="text-brand-red text-2xl font-bold italic">Risooto Du jour!</span>

				<p>
					Notre plat de la semaine est un plat délicieux qui change chaque semaine. Cette semaine, nous vous proposons le risotto du jour
					cuites dans une sauce au vin blanc et à l'ail, servies avec des frites croustillantes. Ne manquez pas
					cette offre à durée limitée !
				</p>

				<div class="mt-8">
					<Button color="red" url="/book">Réserver Maintenant</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Mussels}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Reviews -->
	<Section class:list={" bg-brand-trustpilot/90 relative"}>
		<div class="py-8">
			<Hero>
				<div slot="hero-content-left" class="prose max-w-none order-2 ">
					<div class="text-center not-prose">
						<Badge color="white" title="Avis Clients" />
					</div>
					<h2 slot="heading-title" class="font-black h4 text-center mt-0 mb-4">Ce que disent nos clients...</h2>
					<div slot="heading-content">
						<p class="text-center">
							Ne vous contentez pas de nous croire sur parole. Lisez ce que nos clients disent de leur 
							expérience dans notre restaurant. sur TrustPilot
						</p>

						<ReviewSlider />
					</div>
				</div>

				<div slot="hero-content-right">
					<TripadvisorSection />
				</div>
			</Hero>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>

	<!-- Desserts -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge title="Une Touche De Douceur" />
				<h2 slot="heading-title" class="font-black text-brand-green h2 my-4">Les Desserts</h2>
				<div slot="heading-content">
					<p>
						Laissez-vous tenter par notre sélection de douceurs, du traditionnel tiramisu au fondant au chocolat gourmand. Nos desserts sont la touche finale idéale pour terminer votre repas en beauté. 🍰✨
					</p>



					<div class="mt-8">
						<Button url="/menu">Voir Nos Desserts</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Dessert}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Contact -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="red" title="Bienvenue" />
				<h2 slot="heading-title" class="font-black text-brand-red h2 my-4">Passez nous dire bonjour</h2>
				<div slot="heading-content">
					<p>
						Nous sommes situés au cœur de la ville De Meulan, à deux pas du bord de seine. Notre
						restaurant est l'endroit idéal pour savourer un délicieux repas entre amis ou en famille.
					</p>

					<span class="text-brand-red font-medium">
						✔ Nous plats sont également disponible à emporter pour que vous puissiez les partager à la maison en famille.
					</span>

					<div class="mt-8">
						<Button color="red" url="/book">Réservez Une Table</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Map />
			  </div>
		</Hero>

	
	</Section>
</Layout>


<style>
	.font-script {
	  font-family: 'Pacifico', cursive;
	}
  </style>