---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import TripadvisorSection from "~/components/TripadvisorSection.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";
import Map from "~/components/Map.astro";

// Images
import PizzaHero from "~/assets/images/plat/pizza2.png";
import TrustPilot from "~/assets/images/decor/truspilot.png";
import Pizza2 from "~/assets/images/plat/pizza3.avif";
import Pizza from "~/assets/images/plat/pizza1.png";
import Spaghetti from "~/assets/images/plat/spaghetti.png";
import PlateauFromage from "~/assets/images/plat/plateau_fromage.png";
import Salade from "~/assets/images/salades/salade.png";
import DecorativeImage from "~/assets/images/decor/noel_3.jpg";
import reviewAuthors from "~/assets/images/decor/noel_1.jpg";
import Dessert from "~/assets/images/dessert/cream-dessert.png";
import Mussels from "~/assets/images/decor/noel_1.jpg";
---

<Layout title="Home" pageTitle="Home" description="Welcome to our restaurant!">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Ristorante italiana" />
				<h2 class="font-black">De la vraie cuisine italienne dans un vrai restaurant italien...</h1>

				<p>
					Découvrez le goût de l'Italie avec nos plats authentiques préparés à partir des meilleurs ingrédients. Offrez-vous
					notre grande variété de pizzas, pâtes et desserts, tous préparés avec amour et tradition. Que vous dîniez sur place ou à emporter, nous vous promettons une expérience culinaire mémorable.
				</p>

				<span class="text-brand-green font-medium">✔ Nous livrons aussi ...</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/book">Réservez Maintenant</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImage image={DecorativeImage} alt="Just an image" class:list={"aspect-video lg:aspect-[16/6]"} />

	<Section class:list={"bg-white"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Notre Carte</h2>
			<p slot="heading-content">
				Plongez dans l'univers savoureux de la cuisine italienne avec notre sélection de plats authentiques. Dégustez des pizzas traditionnelles cuites au feu de bois, avec une pâte croustillante et dorée, ou laissez-vous séduire par nos pâtes faites maison, préparées avec des ingrédients de première qualité. Chaque bouchée est une invitation au voyage, un mélange harmonieux de saveurs audacieuses, d'herbes fraîches et de recettes transmises de génération en génération.
			</p>
		</Heading>

		<Grid>
			<div slot="grid-content-1">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Pizza}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Nos Pizzas</h3>
					<p>
						Symbole emblématique de l’Italie, la pizza est bien plus qu’un simple plat : c’est un art culinaire. Préparée avec une pâte moelleuse et dorée, puis garnie d’ingrédients frais et savoureux, chaque pizza raconte une histoire de tradition et de passion.
					</p>
				</div>
			</div>

			<div slot="grid-content-2">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Spaghetti}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Nos Pâtes &amp; Spaghettis</h3>
					<p>
						Les pâtes sont un incontournable de la cuisine italienne, héritage d’une tradition culinaire vieille de plusieurs siècles.  Elles se déclinent en une multitude de formes et de tailles, chacune étant parfaitement adaptée à une sauce ou une préparation spécifique.
					</p>
				</div>
			</div>

			<div slot="grid-content-3">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={Salade}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Nos Salades</h3>
					<p>
						Pasta is a staple of Italian cuisine, with a rich history dating back centuries. It comes in
						various shapes and sizes, each suited to different sauces and preparations.
					</p>
				</div>
			</div>
		</Grid>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose lg:order-2">
				<h1 class="font-black">A Propos De La Pizza ?</h1>

				<p>
					La pizza, née en Italie, est aujourd’hui une véritable icône mondiale. Sa polyvalence permet une infinité de garnitures, de la classique Margherita aux tomates fraîches, mozzarella et basilic, aux créations plus audacieuses comme le poulet barbecue ou le fromage végétal. Un plaisir gourmand pour tous les goûts ! 🍕
				</p>

				<p>
					Que ce soit dégustée dans une pizzeria chaleureuse ou livrée à domicile, la pizza rassemble et comble toutes les envies. Au-delà de son goût savoureux, elle porte une véritable dimension culturelle, symbole de convivialité, de partage et de réconfort. 🍕✨
				</p>

				<div class="mt-8">
					<Button url="/menu">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="size-5 inline-block"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"></path>
						</svg>
						Voir Le Menu
					</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Pizza2}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="Delicieux" />
				<h2 class="font-black h2 my-4">Le Plat De La Seamine</h2>

				<span class="text-brand-red text-2xl font-bold italic">Risooto Du jour!</span>

				<p>
					Notre plat de la semaine est un plat délicieux qui change chaque semaine. Cette semaine, nous vous proposons le risotto du jour
					cuites dans une sauce au vin blanc et à l'ail, servies avec des frites croustillantes. Ne manquez pas
					cette offre à durée limitée !
				</p>

				<div class="mt-8">
					<Button color="red" url="/book">Book now</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Mussels}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Reviews -->
	<Section class:list={" bg-brand-trustpilot/90 relative"}>
		<div class="py-8">
			<Hero>
				<div slot="hero-content-left" class="prose max-w-none order-2 ">
					<div class="text-center not-prose">
						<Badge color="white" title="Avis Clients" />
					</div>
					<h2 slot="heading-title" class="font-black h4 text-center mt-0 mb-4">Ce que disent nos clients...</h2>
					<div slot="heading-content">
						<p class="text-center">
							Ne vous contentez pas de nous croire sur parole. Lisez ce que nos clients disent de leur 
							expérience dans notre restaurant. sur TrustPilot
						</p>

						<ReviewSlider />
					</div>
				</div>

				<div slot="hero-content-right">
					<TripadvisorSection />
				</div>
			</Hero>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>

	<!-- Desserts -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge title="Une Touche De Douceur" />
				<h2 slot="heading-title" class="font-black text-brand-green h2 my-4">Les Desserts</h2>
				<div slot="heading-content">
					<p>
						Laissez-vous tenter par notre sélection de douceurs, du traditionnel tiramisu au fondant au chocolat gourmand. Nos desserts sont la touche finale idéale pour terminer votre repas en beauté. 🍰✨
					</p>



					<div class="mt-8">
						<Button url="/menu">Voir Nos Desserts</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={Dessert}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Contact -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="red" title="Bienvenue" />
				<h2 slot="heading-title" class="font-black text-brand-red h2 my-4">Passez nous dire bonjour</h2>
				<div slot="heading-content">
					<p>
						Nous sommes situés au cœur de la ville De Meulan, à deux pas du bord de seine. Notre
						restaurant est l'endroit idéal pour savourer un délicieux repas entre amis ou en famille.
					</p>

					<span class="text-brand-red font-medium">
						✔ Nous plats sont également disponible à emporter pour que vous puissiez les partager à la maison en famille.
					</span>

					<div class="mt-8">
						<Button color="red" url="/book">Réservez Une Table</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Map />
			  </div>
		</Hero>

	
	</Section>
</Layout>
